@mixin flex(
  $direction: row,
  $justify-content: flex-start,
  $align-items: center,
  $wrap: wrap
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-row(
  $justify-content: flex-start,
  $align-items: center,
  $wrap: wrap
) {
  @include flex(row, $justify-content, $align-items, $wrap);
}

@mixin flex-column(
  $justify-content: flex-start,
  $align-items: center,
  $wrap: wrap
) {
  @include flex(column, $justify-content, $align-items, $wrap);
}
