$font-regular: "Avenir-Next-Regular";
$font-medium: "Avenir-Next-Medium";
$font-demi: "Avenir-Next-Demi";

$font-size-base: 14px;
$font-size-lg: 24px;
$font-size-md: 13px;
$font-size-sm: 10px;

$white: #ffffff;
$black: #000000;
$blue: #19a8e0;
$gray: #f5f5f5;
$gray-medium: lightgray;
$gray-dark: #515151;
$red: red;
